Q.1 create one variable containing following types of data:
    (1) string
    (2) list
    (3) float
    (4) tuple

In [13]:
v1="string"

In [14]:
type(v1)

str

In [3]:
v1=[1,2,3,3,4,4,5,5]

In [5]:
type(v1)

list

In [6]:
v1=45.34

In [7]:
type(v1)

float

In [12]:
v1=("anju","a",12,334,"@","%",1+3)

In [13]:
type(v1)

tuple

Q.2 given are some following variable containing data:
    (1) var1=' '
    (2) var2='[DS,ML,PYTHON]'
    (3) var3=['DS','ML','PYTHON']
    (4) Var4=1.
    what will be the data types of the above given variable.

var1=' '    # string data type
var2='['DS',ML,PYTHON]'    #String data type
var3=['DS','ML','PYTHON']    #list data type
var4-1.    #int data type

Q.3 EXPLAIN THE USE OF FOLLOWING TYPES OF OPERATORS AN EXAMPLE.
(1)/
(2) %
(3) //
(4) **

In [31]:
8/6

1.3333333333333333

In [1]:
23/2

11.5

In [2]:
43%2

1

In [3]:
234//23

10

In [4]:
3**2

9

In [ ]:
Q.4 CREATE A LIST OF LENGTH 10 OF YOUR CHOICE CONTAINING MULTIPLE TYPES OF DATA .USING FOR LOOP PRINT THE ELEMENT AND ITS DATA TYPE.

In [18]:
l=[1,2,34.43,'anju','dangi',53,43,56,75,7575,]

In [19]:
l

[1, 2, 34.43, 'anju', 'dangi', 53, 43, 56, 75, 7575]

In [20]:
len(l)

10

In [21]:
type(l)

list

In [29]:
for i in l:
    print(i)

1
2
34.43
anju
dangi
53
43
56
75
7575

Q.5 USING A WHILE LOOP VERIFY IF THE NUMBER A IS PURELY DIVISIBLE BY NUMBER B AND IF SO THEN HOW MANY TIMES IT CAN DIVISIBLE.

In [33]:
def isdivisible(n):
    temp=n
    while(n):
        k=n%10
        if(temp%k==0):
            return "yes"
        n/=10
        return "no"
    isdivisible(200)
    print(isdivisible(n))

Q.6 create a list containing 25 int type data .using for loop and if else condition print if the elements is divisible by 3 or not.

In [12]:
l=[23,34,54,55,34,54,67,88,99,100,77,33,44,56,54,97878,65,600,12,34,56,67,78,897,56,]

In [13]:
type(l)

list

In [14]:
len(l)

25

In [46]:
for i in l:
    if((i%3==0)):
      print((i),"divisible by 3")
    else:
        print((i),"not divisible by 3")

23 not divisible by 3
34 not divisible by 3
54 divisible by 3
55 not divisible by 3
34 not divisible by 3
54 divisible by 3
67 not divisible by 3
88 not divisible by 3
99 divisible by 3
100 not divisible by 3
77 not divisible by 3
33 divisible by 3
44 not divisible by 3
56 not divisible by 3
54 divisible by 3
97878 divisible by 3
65 not divisible by 3
600 divisible by 3
12 divisible by 3
34 not divisible by 3
56 not divisible by 3
67 not divisible by 3
78 divisible by 3
897 divisible by 3
56 not divisible by 3

Q.7  WHAT DO YOU UNDAERSTAND MUTABLE AND IMMUTABLE DATA TYPES? GIVE EXAMPLE FOR BOTH THIS PROPERTY.

In [ ]:
MUTABLE DATA TYPES:- mutable data types in python are those whose value can be changed in place after they have been created.

In [47]:
l=[2,3,4,5,"anju","dangi",4,4,5,]

In [64]:
type(l)

list

In [65]:
l[5]="string"

In [66]:
l

[2, 3, 4, 5, 'anju', 'string', 4, 4, 5]

IMMUTABLE DATA TYPES:- Immutable is the when no change is possible over time.in python ,if the value of an object cannot be changed
changed over time ,then it is known as immutable data .

In [70]:
t=(5,'program',1+3)

In [71]:
type(t)

tuple

In [ ]:
t[1]=30    3